[package]
name = "nlauncher"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gpui = { git = "https://github.com/zed-industries/zed" }
tokio = { version = "1.44.1", features = ["full"] }
chrono = { version = "0.4.40" }
socket2 = "0.6.0"
zbus = "5.7.1"
anyhow = "1.0.95"
tracing-subscriber = "0.3.19"

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
incremental = false
opt-level = "z"
strip = true
rpath = false
debug = false
debug-assertions = false
overflow-checks = false
