[package]
name = "nlauncher"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
iced = { version = "0.13.1", features = ["tokio", "wgpu"] }
tokio = { version = "1.44.1", features = ["full"] }
freedesktop-desktop-entry = "0.5.1"
xdg = "2.5.2"

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
incremental = false
opt-level = "z"
strip = true
rpath = false
debug = false
debug-assertions = false
overflow-checks = false
