.launcher {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.container {
    padding: 10px;
}

.search-entry {
    margin-bottom: 10px;
    padding: 0 5px; /* Ajoute un espacement horizontal */
}

.icon {
    margin-right: 10px;
}
